<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Welcome!{% endblock %}</title>
  <link rel="stylesheet" href="{{ asset('build/js/app.css') }}">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css"> {% block stylesheets %}{% endblock %}
</head>

<body>
  <header>
    <div class="container">
        <a href="{{ path('home') }}">
          <span class="logo">My shop</span>
        </a>
      <nav>
        <ul>
          <li>
            <a class="{{ app.request.attributes.get('_route') == 'home' ? 'active' : '' }}" href="{{ path('home') }}">Accueil</a>
          </li>
          <li><a class="{{ app.request.attributes.get('_route') == 'products' ? 'active' : '' }}" href="{{ path('products') }}">Produits</a></li>
          <li><a class="{{ app.request.attributes.get('_route') == 'categories' ? 'active' : '' }}" href="{{ path('categories') }}">Categories</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    {% block body %}{% endblock %}
  </main>
  <script src="{{ asset('build/js/app.js') }}" async></script>
  {% block javascripts %}{% endblock %}
</body>

</html>
